<div class="container">
    <div class="row">
        <div class="col-12">
            {{#each result}}
            <div class="answer-block mb-4">
                <p class="h2 mb-2">{{this.name}}: </p>
                <div class="progress">
                    <div class="progress-bar"
                         role="progressbar"
                         style="width: {{this.ratio}}%;"
                         aria-valuenow="{{this.ratio}}"
                         aria-valuemin="0"
                         aria-valuemax="100">
                        {{this.ratio}}%
                    </div>
                </div>
            </div>
            {{/each}}

            <hr class="dropdown-divider">
            <p class="h1 mt-4">Total: {{this.totalCount}} voices</p>
        </div>
    </div>
</div>
